<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FDDSE.ConsoleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FDDSE.ConsoleClient.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>403200</value>
            </setting>
            <setting name="DskA" serializeAs="String">
                <value />
            </setting>
            <setting name="DskB" serializeAs="String">
                <value />
            </setting>
            <setting name="DskC" serializeAs="String">
                <value />
            </setting>
            <setting name="DskD" serializeAs="String">
                <value />
            </setting>
        </FDDSE.ConsoleClient.Properties.Settings>
    </userSettings>
</configuration>